<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canzhen.persiondemo.inter.mapper.CommUserMapper">

    <select id="countByUsername" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM T_USER
        WHERE
        USERNAME = #{username}
    </select>

    <delete id="deleteAll">
        DELETE FROM T_USER
    </delete>

</mapper>